.main{
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}
.left{
    width: 20%;
    background-color: #ffc30a;
}
.logo{
    margin-top: 15%;
}
.menu{
    display: flex;
    flex-direction: column;
}
.menu,button{
    padding: 15px;
    border-radius: 10px;
    border: 0px;
    text-align: left;
    margin: 5px;
    font-family: Poppins;
    font-weight: 600;
   
}
.btn:hover{
  background-color: black;
  color: #fff;
}
.active{
    background-color: black;
    color: #fff;
}

.btn{
    background-color: #fff;
    color: #000;
}
.head-bar{
    background-color: #ffc30a;
    width: 70vw;
    margin: 30px;
    border-radius: 10px;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-bar,input{
    padding: 10px;
   /*  margin: 0px 10px; */
    border-radius: 10px;
    border: 0px;
    margin-right: 10px;
}
* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 96.5%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #ffc30a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ffc30a;
  }

  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #ffc30a;
  }
  .data-table{
   overflow: scroll;
   margin: 30px;
   width: 100%;
}
::ng-deep .mat-slide-toggle-bar .mat-slide-toggle-thumb {

  background-color: #ffc20a ;

}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffc20a ;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background-color: #dbb84f ;
}


::ng-deep .mat-slide-toggle .mat-checked{
  background-color: #ffc30a ;
}
::ng-deep .mat-accent {
color: #ffc30a ;
}
::ng-deep .mat-checked{
  color: #ffc30a ;
}
