<div class="main">
    <div class="left">
        <div class="logo">
            <h1 style="text-align: center;font-family: Poppins;font-weight: 700;font-size: 45px;"><span
                    style="color: white;">grow</span>On</h1>
        </div>
        <div class="menu">
            <button class="btn" (click)="changeTab(1)">Leads - <span
                    style="margin:5px;padding: 3px 8px;background-color: #ffc30a;border-radius: 06px;color: #000">{{service.leads.value}}</span></button>
            <button class="btn" (click)="changeTab(2)">Onboarded School -
                <span
                    style="margin:5px;padding: 3px 8px;background-color: #ffc30a;border-radius: 06px;color: #000">{{service.schools.value}}</span>
            </button>
            <button class="btn" (click)="changeTab(3)">Institutions - <span
                    style="margin:5px;padding: 3px 8px;background-color: #ffc30a;border-radius: 06px;color: #000">
                    {{service.institutions.value}}
                </span></button>
        </div>
    </div>
    <div>
        <div class="head-bar">

            <h1 style="font-family: Poppins;
                  font-weight: 800;margin-top: 12px;margin-left: 10px;">{{this.school.schoolName}} </h1>
            <img [src]="school.schoolImage" height="90px">
        </div>
        <div class="sec" style="display: flex;justify-content: center;">
            <div class="step1">
                <div class="sub-heading-bar">
                    <h1 style="text-align: center; margin-left: 30px;font-family: Poppins;font-weight: 700;">School
                        Details</h1>
                </div>

                <div class="formdiv" style="width: max-content;" [formGroup]="Form">
                    <div *ngIf="selectedInstitute">
                        <select type="text" style="width: 98%;" formControlName="Institute" placeholder="Institute"
                            [(ngModel)]="selectedInstitute.name">
                            <option *ngIf="!selectedInstitute" disabled selected value="null">Select Institute</option>
                            <option *ngIf="selectedInstitute" disabled>{{selectedInstitute.name}}</option>
                            <option *ngFor="let item of institutions" [ngValue]="item">{{item ? item.name : ''}}
                            </option>
                        </select>
                    </div>
                    <div *ngIf="!selectedInstitute">
                        <h1>No Institution</h1>
                        <select type="text" style="width: 98%;" formControlName="Institute" placeholder="Institute">
                            <option *ngIf="!selectedInstitute" disabled selected value="null">Select Institute</option>
                            <option *ngFor="let item of institutions" [ngValue]="item">{{item ? item.name : ''}}
                            </option>
                        </select>
                    </div>
                    <div>
                        <label style="margin-left: 15px;">SMS Activation</label>
                        <select type="text" style="width: 98%;" formControlName="smsActivated"
                            placeholder="SMS Activation">
                            <option value=true>Yes</option>
                            <option value=false>No</option>
                        </select>
                    </div>
                    <input type="text" formControlName="School_Name" placeholder="School Name"
                        style="width: 900px !important;">

                    <div>
                        <input type="text" formControlName="Email" placeholder="Email" style="width: 440px !important;">
                        <input type="tel" formControlName="Contact_Number" placeholder="Contact Number"
                            style="width: 400px !important;">
                    </div>
                    <div style="display: flex; flex-direction:  row;">
                        <select type="text" formControlName="InstituteType" [(ngModel)]="pvt"
                            style="width: 50% !important;">
                            <option [ngValue]="gov"> Government</option>
                            <option [ngValue]="pvt"> Private </option>
                        </select>
                        <select type="Number" formControlName="NoofBranches" placeholder="No. of Branches"
                            [(ngModel)]="branchLength" style="width:50% !important;">
                            <option> 1 </option>
                        </select>
                    </div>
                    <div>
                        <select type="text" formControlName="Country" placeholder="Country"
                            style="width: 220px !important;">
                            <option *ngIf="selectedCountry" selected value="null" disabled>
                                {{selectedCountry.country_name}}</option>
                            <option *ngFor="let item of countries" [value]="item._id"> {{item.country_name}}
                            </option>
                        </select>

                        <select type="text" (change)="getCities()" formControlName="State" placeholder="State"
                            [(ngModel)]="selectedState" style="width: 220px !important;">
                            <option *ngIf="!selectedState" disabled selected value="null">Select State</option>
                            <option *ngIf="selectedState" [defaultSelected]="selectedState?.state_name">
                                {{selectedState?.state_name}}</option>
                            <option *ngFor="let item of states" [ngValue]="item">{{item.state_name}} </option>
                        </select>



                        <select type="text" formControlName="City" placeholder="City" style="width: 220px !important;">
                            <option *ngIf="!selectedCity" disabled selected value="null">Select City</option>
                            <option *ngIf="selectedCity" selected [ngValue]="selectedCity"> {{selectedCity.city_name}}
                            </option>
                            <option *ngFor="let item of cities" [ngValue]="item">{{item.city_name}}</option>
                        </select>
                        <input type="Number" formControlName="Pincode" placeholder="Pincode"
                            style="width: 180px !important;">
                    </div>
                    <div>
                        <textarea placeholder="Address" formControlName="Address" style="width:900px"></textarea>
                    </div>
                    <div style="display:flex; justify-content:space-between">
                        <!--  <label>School Logo<input type="file"></label> -->
                        <button class="form-btn" style="margin-top: 20px;" (click)="update()">Update</button>
                    </div>




                </div>
            </div>

            <!-- Branch Details -->
            <div class="step2">
                <div class="sub-heading-bar">
                    <h1 style="text-align: center;font-family: Poppins;font-weight: 700;">Branch Details</h1>
                </div>

                <div class="formdiv">
                    <div [formGroup]="branchForm">


                        <input type="text" placeholder="Branch Name" formControlName="Branch_Name"
                            style="width: 900px !important;">

                        <div>
                            <input required type="text" formControlName="Branch_Email" placeholder="Email"
                                style="width: 440px !important;">


                            <input type="tel" formControlName="Branch_Contact" placeholder="Contact Number"
                                style="width: 400px !important;">
                        </div>
                        <div>
                            <select type="text" formControlName="Branch_Country" placeholder="Country"
                                style="width: 220px !important;">
                                <option *ngIf="selectedCountry" [defaultSelected]="selectedCountry.country_name">{{
                                    selectedCountry.country_name}}</option>
                            </select>
                            <select type="text" formControlName="Branch_State" placeholder="State"
                                style="width: 220px !important;">
                                <option *ngIf="selectedState" [defaultSelected]="selectedState.state_name">{{
                                    selectedState.state_name}}
                                </option>
                            </select>
                            <select type="text" formControlName="Branch_City" placeholder="City"
                                style="width: 220px !important;">

                                <option *ngIf="selectedCity" [defaultSelected]="selectedCity.city_name">{{
                                    selectedCity.city_name}}</option>
                            </select>

                            <input type="Number" formControlName="Branch_Pincode" placeholder="Pincode"
                                style="width: 180px !important;">

                            <div>
                                <textarea placeholder="Address" formControlName="Branch_Address"
                                    style="width:900px"></textarea>
                            </div>
                            <div style="display:flex;justify-content:right">
                                <!--  <button class="form-btn" style="margin-top: 20px;">Update</button> -->
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <!--  Teachers -->
            <div style="width:80%;overflow:scroll; height:400px;">
                <div class="sub-heading-bar">
                    <h1 style="text-align: center;font-family: Poppins;font-weight: 700;">Teachers
                        <span class="count">{{teachersLength}}
                        </span>
                    </h1>
                </div>
                <div style="margin: 15px;">
                    <label>Filter</label>
                    <input type="text" style="border: 1px solid;margin-left: 20px;" (keyup)="applyFilter2(input2.value)"
                        placeholder="Search columns" #input2>
                </div>

                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSource2" style="width:50vw" *ngIf="!searchTableisEnabled2">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef> Phone </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>
                        <ng-container matColumnDef="profile_type">
                            <th mat-header-cell *matHeaderCellDef> Pin </th>
                            <td mat-cell *matCellDef="let element"> {{element.pin ? element.pin :'-'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    </table>
                    <table mat-table [dataSource]="dataSource2" style="width:50vw" *ngIf="searchTableisEnabled2">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="mobile">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                        </ng-container>
                        <ng-container matColumnDef="profile_type">
                            <th mat-header-cell *matHeaderCellDef> Pin </th>
                            <td mat-cell *matCellDef="let element"> {{element.pin ? element.pin : '-'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="gender">
                            <th mat-header-cell *matHeaderCellDef> Gender </th>
                            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons:true>
                        </mat-paginator>
                    </table>

                </div>

            </div>
            <!-- Students -->
            <div style="width: 80%;margin-top: 20px;margin-bottom: 20px;">
                <div class="sub-heading-bar">
                    <h1 style="font-family: Poppins;font-weight: 700;">Students
                        <span class="count">{{totalStudentCount}}
                        </span>
                    </h1>
                </div>
            </div>


            <div style="width: 55vw;">

                <label>Filter</label>
                <input type="text" (keyup)="applyFilter(input.value)" placeholder="Search columns" #input>

                <mat-tab-group *ngIf="!searchTableisEnabled">

                    <mat-tab *ngFor="let class of Classes;let i=index">
                        <ng-template mat-tab-label> <span class="custom-label"
                                (click)="updateStudents(class)">{{class.className}}</span></ng-template>

                        <div class="mat-elevation-z8" style="height: 400px;">
                            <table mat-table [dataSource]="dataSource" style="width:50vw;">


                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="gender">
                                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                                </ng-container>
                                <ng-container matColumnDef="p_name">
                                    <th mat-header-cell *matHeaderCellDef> Parent Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element?.parent_id?.father_name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="p_mobile">
                                    <th mat-header-cell *matHeaderCellDef> Parent Mobile </th>
                                    <td mat-cell *matCellDef="let element"> {{element.parent_id?.username}} </td>
                                </ng-container>
                                <ng-container matColumnDef="pin">
                                    <th mat-header-cell *matHeaderCellDef>Pin</th>
                                    <td mat-cell *matCellDef="let element"> {{element.pin ? element.pin : '-'}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <!--   <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons:true [length]="100" >
                            </mat-paginator> -->
                        </div>


                    </mat-tab>

                </mat-tab-group>
                <div style="height: 100px;" *ngIf="searchTableisEnabled">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" style="width:50vw;">


                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef> Gender </th>
                                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>
                            <ng-container matColumnDef="p_name">
                                <th mat-header-cell *matHeaderCellDef> Parent Name </th>
                                <td mat-cell *matCellDef="let element"> {{element?.parent_id?.father_name}} </td>
                            </ng-container>
                            <ng-container matColumnDef="p_mobile">
                                <th mat-header-cell *matHeaderCellDef> Parent Mobile </th>
                                <td mat-cell *matCellDef="let element"> {{element.parent_id?.username}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!--   <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons:true [length]="100" >
                        </mat-paginator> -->
                    </div>
                </div>
                <div style="height: 100px;">
                    &nbsp;
                </div>
            </div>
        </div>




    </div>
</div>