input{
    border: 1px solid #757575;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 14px;
    margin:10px
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffc30a;
    font-family: Poppins;
    font-weight: 500;
    border:none;
    margin: 10px;
}
select{
    border: 1px solid #757575;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 14px;
    margin:10px

}

@media only screen and (max-width: 600px) {
    .signupDiv {
        margin-top: 110px !important;
    }
    select{
        width: 95% !important;
    }
  }